li{
    display: flex;
    justify-content: space-between;
    background-color: aliceblue;
    margin: 5px;
    padding: 5px;
    border-radius: 6px;
}

.btnRemove{
    padding: 6px 10px;
    border-radius: 5px;
    background-color: cornflowerblue;
    color: aliceblue;
    border: none;
    cursor: pointer;
}