<!-- Cabeçalho para todas as páginas -->
 <header th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a href="/" class=" nav-link"></a>
                </li>
                <li class="nav-item">
                    <a href="/funcionario" class=" nav-link">Cadastro Funcionario</a>
                </li>
                <li class="nav-item">
                    <a href="/listar" class=" nav-link">Listar Funcionario</a>
                </li>
            </ul>
        </div>
    </nav>
 </header>